@font-face {
  font-family: "Impact";
  src: url("/fonts/impact-webfont.woff");
}

body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 0 0.5rem;
  font-size: 1rem;  
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
/*** init ***/

html {
  font-size: 16px;
}

ul, li {
  padding:0;
  margin:0;
  list-style-type: none;
}

/*** layout ***/

@media screen and (min-width: 800px) {
  .AdminWrapper {
    display: flex;
  }

  nav {
    width: 200px;
  }

  .main {
    flex: 1;
  }
}
/*** main menu ***/

.mainMenu li:not(:first-child) {
  margin-top: 0.25rem;
}

.mainMenu .active {
  background-color: blue;
  color: white;
}

/*** general form styles ***/

form {
  margin: 1rem;
  border: solid 1px #333;
  background-color: white;
  padding: 1.5rem;
}

form > div[id^="uniforms"] > div {
  margin-left: 1rem;
}

form [required] > input[type=text] {
  display:inline;
}

form [required] > label:after {
  content: "required";
  text-transform: uppercase;
  color: darkred;
  font-weight: bold;
  font-size: 70%;
  padding-left: 1ex;
}

label {
  display: block;
  margin-bottom: 0.2rem;
}

[type="checkbox"] {
  height: 1rem;
}

[type="checkbox"] + label {
  display: inline;
}

form div:after {
  content: attr(title);
  opacity: 0.7;
  font-size:70%;
  display:block;
  margin-top: 0.2rem;
}

form > div:not(:first-of-type),
form > div > div:not(:first-of-type) {
  margin-top: 1rem;
}

input {
  font-size: 1rem;
}

input:not([type="checkbox"]):not([type="submit"]) {
  width: 100%;
  padding:0.25rem;
  box-sizing: border-box;
}

input:not([type="checkbox"]):not([type="submit"]), textarea {
  background-color: lightgrey;
}

input[type="submit"], .button {
  border: solid 1px black;
  border-radius: 0.5rem;  
  padding: 0.5rem;
  margin-top:2rem;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  user-select: none;  
}

.button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.button:active,
input[type="submit"]:active {
  background-color: grey;
  outline: none;
}

input[type="submit"] {
  font-size: 1rem;
  border-color: darkred;
  border-width:2px;
}

input[type="submit"]:hover {
  background-color: orange;
  color:black;
}

input[type="submit"]:active {
  background-color: darkred;
}

.button.delete:hover {
  background-color: red;
}

form button,
form .button,
form [type="submit"] {
  margin-right: 1rem;
}

fieldset {
  margin-bottom: 1rem;
}

fieldset legend {
  
}

/*** config form ***/

@media (min-width: 500px) {
  form.configForm > fieldset > div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }
  form.configForm > fieldset > div > div {
    flex: 1;
    min-width: 190px;
    padding: 10px;
  }  
  form.configForm > fieldset > div > div label {
    min-height: calc( 2* 1.15rem );
    font-size: 1rem;
    line-height: 1.15rem;
    vertical-align: bottom;
  }    
}

form.configForm .header {
  display: flex;
  margin-bottom: 1rem;
}

form.configForm .header > div {
  flex: 1;
  padding: 10px;
}

form.configForm.default {
  opacity: 0.7;
}

form.configForm.default input[name="name"] {
  outline: 5px darkred solid;
  opacity: 1;
}

form.configForm.active {
  outline: 5px lightgreen solid;
}

/*** Tables ***/

table {
  border-collapse: collapse;
}

th,
td {
  border: solid 0px black;
  padding: 0.5ex 0.5em;
}

tbody tr:first-child td {
  padding-top: 1ex;
}

thead tr:last-child th {
  padding-bottom: 1ex;
}

th:not(:last-child),
td:not(:last-child) {
  border-right-width: 1px;
}

th {
  text-align: left;
  text-transform: capitalize;
  border-bottom-width: 1px;
}

table.tableFullBorder td {
  border-bottom-width: 1px;
}

table.tableFullBorder th,
table.tableFullBorder td {
  border-color: #a29f9f;
}

body {
  padding-bottom: 30px;
}

.map-container {
  width: 100%;
  height: 800px;
  max-height: 80vh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.impact {
  font-family: impact;
  letter-spacing: 0.08em;
  /*font-size: 110%;*/
  opacity: 0.8;
}

/*** home page ***/

.homePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
  height: 100%;  
  text-align: center;
}

.statistics {
  display:flex;
  flex-direction: row;
  width:80%;
  max-width: 28rem;
}

.statistics li {
  flex:1;
  padding: 1rem;
}

.statistics b {
  display:block;
  font-size: 2rem;
}

/*** status page ***/

.StatusPage > li {
  font-weight: bold;
}

.StatusPage > li ul {
  margin: 1rem 1rem 2rem 1rem;
  font-weight: normal;
}

.status_heartbeat {
  font-weight: normal;
  opacity: 0.4;
}

.status_heartbeat:before {
  content: "—";
  padding: 0 1ex;
}

/*** content page ***/

.content_editor {
  list-style-type: none;
  margin: 2rem;
  padding: 0;
}

.content_editor li {
  margin:0;
  padding: 0;
  margin-bottom: 3rem;
}

.content_editor form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.content_editor form > div {
  width: 50%;
  margin-top:0;
}

.content_editor form label {
  display:block;
  text-transform: uppercase;
}

.content_editor form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: 20rem;
  font-size: 1rem;
  padding: 1rem;
}

.content_editor form > [type="submit"] {
  flex: 1;
  width: 100%;
}

/*** END content editor ***/

.image-preview img {
  min-width: 100px;
  width: 8vw;
  max-width: 200px;
}

/*** review panel ***/

.reviewPanel {
  width: 33%;
  min-width: 250px;
  float: left;
}

.reviewPanel__title {
  margin: 1ex;
}

.reviewPanel__panel {
  border: solid 1px black;
  margin: 1ex;
  list-style-type: none;
  padding:0;
}

.reviewPanel__entry {
  border: solid 1px black;
  border-width: 0 0 1px 0;
  padding:1ex;
}

.reviewPanel__entry:last-child {
  border-width: 0;
}

.reviewPanel__proposalInfo {
  margin-bottom: 1ex;
}

/*** playerCell ***/

.playerCell {
  display: block;
}

.playerCell small {
  font-size: 0.5em;
}