html, body, #root {
  height: 100%
}

.App {
  height: 100%;
  overflow: hidden;
}

.headers {
  height: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.headers div {
  flex: 0.25;
  border-bottom: 1px solid #000;
	background-color: rgb(245,132,102);
  line-height: 1.5rem;
	text-align: center;
	font-family: Impact;
}

.borderRight {
  border-right: 1px solid #000;
}

.mainContent {
  display: flex;
  flex-direction: row;
  height: 100%;
}

section {
  flex: 0.25;
}

section img {
	width: 100%;
}

section.info {
  border-right: 1px solid #000;
}

section.vote {
  border-right: 1px solid #000;
  overflow-y: scroll;
  padding-bottom: 2.5rem;
}

section.news {
  border-right: 1px solid #000;
}

section.flux {
  overflow: hidden;
}
