@font-face {
    font-family: Impact;
    src: url(../../../assets/fonts/impact.ttf);
}

@font-face {
    font-family: ArialBold;
    src: url(../../../assets/fonts/ArialMonospacedMTPro-Bld.ttf);
}

@font-face {
    font-family: ArialNormal;
    src: url(../../../assets/fonts/ArialMonospacedMTPro.ttf);
}

html, body, #root {
  height: 100%;
  font-size: 16px;
}

* {
  font-family: ArialNormal;
}

.App {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.headers {
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.headers div {
  flex: 0.25;
  border-bottom: 1px solid #000;
	background-color: rgb(245,132,102);
  line-height: 2rem;
	text-align: center;
	font-family: Impact;
  font-size: 1.2rem;
}

.headers div.flux_expanded_1 {
  flex: 0.5;
}

.headers div.flux_expanded_2 {
  flex: 1;
}

.borderRight {
  border-right: 1px solid #000;
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex: 1;
}

section {
  flex: 0.25;
  width: 0px; /* prevent stretching out with content */
}

section img {
	width: 100%;
}

.store-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

img.apple {
  width: 6.6rem;
  position: relative;
  left: 7px;
  margin-right: 1em;
  margin-top: 0.5rem;
}
img.google {
  width: 7.5rem;
  margin-top: 0.5rem;
}

section.info {
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
}

section.vote {
  border-right: 1px solid #000;
}

section.news {
  margin-left: 1px;
  border-right: 1px solid #000;
  position: relative;
}

section.flux {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

section.flux_expanded_1 {
  overflow: hidden;
  flex: 0.5;
}

section.flux_expanded_2 {
  overflow: hidden;
  flex: 1;
}

@media (max-width: 800px) {
  .headers div:hover {
    cursor: pointer;
  }
  .headers div.active {
    background-color: #000;
    color: #fff;
  }
  .mainContent {
    display: block;
    overflow-y: hidden;
    height: 100%;
  }
  section {
    width: 100%;
    height: 100%;
  }
  section.info {
    display: block;
    height: 100%;
    overflow-y: scroll;
  }
  .info-container {
    height: auto;
  }
  section.vote {
    overflow-y: scroll;
  }
  .challenge-list {
    height: auto;
  }
  section:not(.active) {
    display: none;
  }
  #fullscreen {
    display: none;
  }
  #zoom_out {
    bottom: 2rem;
  }
  #zoom_in {
    bottom: 4.5rem;
  }
  
}

